body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* контейнер по центру */
.todo {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* input */
#taskInput {
    width: 80%;
    padding: 8px;
    font-size: 16px;
}

/* список */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* пункт */
li {
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* виконане */
li.done {
    color: gray;
    text-decoration: line-through;
}

/* дата */
.time {
    font-size: 11px;
    color: #777;
}

/* хрестик */
.delete {
    margin-left: auto;
    cursor: pointer;
    color: red;
}
